<h1 style = "text-align:center;">Social</h1>


<p>Social helps you connect and share with the people in your life.</p>

<div align = "center"> 
    <form action = "/login">
        <input type = "submit" value = "Login">
    </form>
    <form action = "/signup">
        <input type = "submit" value = "SignUp">
    </form>
    
</div>
<script src = "taskRoutes.js"></script>
