<h1 style = "text-align: center;">Login</h1>
<div align = "center">
    <form>
        <input type="email" placeholder="e-mail"><br>
        <input type="password" placeholder="Password"><br>
        <button type="submit">Log In</button>
    </form>


</div>
<div align = "bottom">
    <form action="/">
    <input type="submit" value="Go Home">
    </form>
</div>