<h1 style="text-align: center;">Sign Up</h1>
<div align = "center">
    <form>
        <input type="text" placeholder="First Name">
        <input type="text" placeholder="Second Name"><br>
        <input type="date" placeholder="Birth Date"><br>
        <input type="email" placeholder="e-mail"><br>
        <input type="password" placeholder="Password"><br>
        <input type="password" placeholder="Confirm Password"><br>

    </form>
</div>
<div align = "bottom">
    <form action="/">
    <input type="submit" value="Go Home">
    </form>
</div>